header {
    text-align: center;
}
header a {
    text-decoration: none;
    size: 50px;
    color: black;
    border: solid 2px;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background-color: blue; 
}
body img {
  border: solid 5px;
}
img {
    text-align: center;
    width: 700px; /* Ви можете задати бажану ширину контейнера */
    overflow: hidden; /* Щоб зображення не виходило за межі контейнера */
}
.zoom-image {
    transition: transform 0.5s ease; /* Анімація для плавного переходу */
}
.zoom-image:hover{
    transform: scale(1.7); /* Збільшення зображення на 50% */
}
p {
    text-align: center;
}
footer {
    text-decoration: none;
    text-align: center;
}
