img {
    margin: 5px;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: aqua;
}

p {
    color: blue;
}

.my-class {
    background-color: yellow;
}

#my-id {
    font-size: 20px;
}

[type="text"] {
    border: 1px solid red;
}

div p {
    margin-left: 10px;
}

ul > li {
    list-style-type: none;
}

h1 + p {
    font-style: italic;
}

h1 ~ p {
    color: green;
}

a:hover {
    text-decoration: underline;
}

p::first-line {
    font-weight: bold;
}
