header{
    background-color:orange;
    font-size:25px
}
Header img{
    width: 25px;
}
Body{
    text-align: center;
    font-size: large;
}
main img{
    width: 500px;
    border:5px solid orange;
}
footer{
    background-color: orange;
}
